[submodule "site/themes/hugo-lamp"]
	path = site/themes/hugo-lamp
	url = https://github.com/huyb1991/hugo-lamp
[submodule "site/themes/hugo-strata-theme"]
	path = site/themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme
[submodule "site/themes/themes/minimo"]
	path = site/themes/themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "site/themes/minimo"]
	path = site/themes/minimo
	url = https://github.com/MunifTanjim/minimo
